.calculator-result {
  align-items: center;
  background: #f6c60c;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: dashed #8948c6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.calculator-comparison {
  text-align: center;
  max-width: 60ch;
}

.calculator-comparison > h2 {
  font-size: 2rem;
  color: #8948c6;
}

.buttons-result {
  display: flex;
  flex-direction: row;
}

.btn-result1,
.btn-result2 {
  background-color: #8948c6;
  height: 4rem;
  margin-left: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  text-align: center;
}

.btn-result1:hover,
.btn-result2:hover {
  background-color: #f6c60c;
  color: black;
}

@media (max-width: 650px) {
  .calculator-result {
    background: #f6c60c;
    max-width: 90%;
    height: 600px;
    border-radius: 20px;
  }

  .buttons-result {
    display: flex;
  }

  .btn-result1,
  .btn-result2 {
    max-width: 8rem;
    margin-left: 0;
  }
}
