.home-test,
.calculator,
.projects {
  display: flex;
  padding: 0 5%;
}

.home-test > img {
  max-width: 60%;
}

.article-home-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-home-test > h1 {
  font-size: 3rem;
  color: #8948c6;
  display: flex;
  flex-direction: column;
}

.btn-test {
  background-color: #8948c6;
  padding: 1.5rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 10rem;
  height: 5rem;
  font-size: 1.2rem;
}

/* calculator */

.article-calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-calculator > h2 {
  font-size: 2rem;
  color: #8948c6;
}

.calculator-input {
  align-items: center;
  background: #f6c60c;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 15%;
}

#destination,
#transport {
  cursor: pointer;
  font-size: 1rem;
  width: 20rem;
  height: 3rem;
}

.btn-calculator {
  cursor: pointer;
  font-size: 1rem;
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  background-color: #8948c6;
  color: white;
}

/* projects */

.article-projects {
  display: flex;
}

.projects > h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  width: 70%;
  margin-bottom: 3rem;
  margin-top: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  background: #8948c6;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  justify-content: center;
}

.project1,
.project2,
.project3 {
  background-color: white;
  color: #f6c60c;
  margin: 0 1rem;
}

.leaf {
  width: 600px;
  align-self: flex-end;
  margin-top: -15rem;
}
