@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Roboto:wght@300;400;500;700&family=Poppins:wght@600;800&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > img {
  height: 5rem;
  width: auto;
  margin-left: 1rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav > ul a {
  text-decoration: none;
  background-color: #f6c60c;
  padding: 1rem;
  border-radius: 10px;
  color: black;
  transition: 0.3s;
  white-space: nowrap;
}

nav > ul a:hover {
  text-decoration: none;
  background-color: #8948c6;
  color: white;
  /* box-shadow: 0px 5px 10px #8948c6; */
}

nav > ul > li {
  margin: 0 0.5rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: #8948c6;
  letter-spacing: 0.4rem;
}

h1 {
  font-size: 3rem;
  color: #8948c6;
}

p {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
}

footer {
  box-sizing: border-box;
  background: #f6c60c;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}
